body{
  background-image: url('../img/italy.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
  text-align: center;
  margin-top: 15%;
  width: 100%;
  transition: width .1s;
}
a{
  text-decoration: none;
}
footer{
  text-align: center;
  font-size: 24px;
  padding-top: 30px;
}
input[type=text] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
@media screen and (max-width: 700px) {
  input[type=text] {
    width: 50%;
    margin-top: 0;
  }
}